Src/Catl.WebServices/MiSFCAttriDataEntryServiceService/MiSFCAttriDataEntryServiceService.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://misfc.ws.atlmes.com/" xmlns:tns="http://misfc.ws.atlmes.com/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://misfc.ws.atlmes.com/" version="1.0">
      <xs:element name="BasicBOBeanException" type="tns:BasicBOBeanException"/>
      <xs:element name="BusinessException" type="tns:BusinessException"/>
      <xs:element name="miSFCAttriDataEntryRequest" type="tns:miSFCAttriDataEntryRequest"/>
      <xs:element name="miSFCAttriDataEntryResponse" type="tns:miSFCAttriDataEntryResponse"/>
      <xs:element name="miSfcAttriDataEntry" type="tns:miSfcAttriDataEntry"/>
      <xs:element name="miSfcAttriDataEntryResponse" type="tns:miSfcAttriDataEntryResponse"/>
      <xs:element name="sfcData" type="tns:sfcData"/>
      <xs:complexType name="miSfcAttriDataEntry">
        <xs:sequence>
          <xs:element minOccurs="0" name="MiSFCAttriDataEntryRequest" type="tns:miSFCAttriDataEntryRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miSFCAttriDataEntryRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string"/>
          <xs:element name="userId" type="xs:string"/>
          <xs:element minOccurs="0" name="sfcMode" type="xs:string"/>
          <xs:element name="sfc" type="xs:string"/>
          <xs:element name="itemGroup" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="sfcDatalist" type="tns:sfcData"/>
          <xs:element minOccurs="0" name="isCheckSequence" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sfcData">
        <xs:sequence>
          <xs:element name="attributes" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
          <xs:element minOccurs="0" name="sequence" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miSfcAttriDataEntryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:miSFCAttriDataEntryResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miSFCAttriDataEntryResponse">
        <xs:sequence>
          <xs:element name="code" type="xs:int"/>
          <xs:element name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BusinessException">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="details" type="xs:anyType"/>
          <xs:element name="errorCode" type="xs:int"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="suppressed" type="tns:throwable"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="throwable">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="stackTrace" nillable="true" type="tns:stackTraceElement"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType final="extension restriction" name="stackTraceElement">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="BasicBOBeanException">
        <xs:sequence>
          <xs:element minOccurs="0" name="data" type="tns:data"/>
          <xs:element minOccurs="0" name="details" type="xs:string"/>
          <xs:element name="error" type="xs:int"/>
          <xs:element minOccurs="0" name="errorMessage" type="tns:errorMessage"/>
          <xs:element minOccurs="0" name="fullMsg" type="xs:string"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
          <xs:element minOccurs="0" name="origException" type="tns:exception"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="suppressed" type="tns:throwable"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="data">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="errorMessage">
        <xs:complexContent>
          <xs:extension base="tns:applicationMessage">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="applicationMessage">
        <xs:complexContent>
          <xs:extension base="tns:baseObject">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseObject">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="exception">
        <xs:complexContent>
          <xs:extension base="tns:throwable">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="miSfcAttriDataEntryIn">
    <wsdl:part element="tns:miSfcAttriDataEntry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="miSfcAttriDataEntryOut">
    <wsdl:part element="tns:miSfcAttriDataEntryResponse" name="miSfcAttriDataEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="miSfcAttriDataEntryFault">
    <wsdl:part element="tns:BasicBOBeanException" name="BasicBOBeanException"/>
  </wsdl:message>
  <wsdl:message name="MiSFCAttriDataEntryServicemiSfcAttriDataEntryFault">
    <wsdl:part element="tns:BusinessException" name="BusinessException"/>
  </wsdl:message>
  <wsdl:portType name="MiSFCAttriDataEntryService">
    <wsdl:operation name="miSfcAttriDataEntry" parameterOrder="parameters">
      <wsdl:input message="tns:miSfcAttriDataEntryIn"/>
      <wsdl:output message="tns:miSfcAttriDataEntryOut"/>
      <wsdl:fault message="tns:miSfcAttriDataEntryFault" name="BasicBOBeanException"/>
      <wsdl:fault message="tns:MiSFCAttriDataEntryServicemiSfcAttriDataEntryFault" name="BusinessException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MiSFCAttriDataEntryServiceBinding" type="tns:MiSFCAttriDataEntryService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="miSfcAttriDataEntry">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BasicBOBeanException">
        <soap:fault name="BasicBOBeanException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiSFCAttriDataEntryServiceService">
    <wsdl:port binding="tns:MiSFCAttriDataEntryServiceBinding" name="MiSFCAttriDataEntryServicePort">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://lymesbp204.catlbattery.com:50400/atlmeswebservice/MiSFCAttriDataEntryServiceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>